@import "../../vars.css";

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.rights {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: var(--color-text);
    opacity: 0.7;
}

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 58px 10%;
    gap: 30px;
}

.text h2 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.linkImg {
    width: 42px;
    margin-left: 5px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}